* {
	margin: 5%;
	padding: 0;
}

body {
	font-size: 65%;
	font-family: Helvetica, sans-serif;
	background: url(bg.png);

}


#page-wrap {
	width: 600px;
	background: rgb(213, 212, 212);
	padding: 70px 50px 20px 20px;
	margin: 20px auto;
	min-height: 500px;
	height: 750px;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-family: Helvetica, sans-serif;
	font-size: 1.7em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 100px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

.submit-button {
	border: 5px solid black;
	border-radius: 4px;
	background-color: rgb(150, 150, 150);
	color: black;
	text-align: center;
	font-size: 28px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin-top: 10px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	font-weight: 500;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .submit-button:hover {
	
	background-color: black;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.7em;
}
.input-name{
    
	 font-weight: 550;
	 margin-left:-50px;
	 margin-bottom: 10px;
}
.input2{
	margin-left:-59px;

}
.input3{
	margin-left:-20px;
}

.helloman{
	
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
